body {
  background-color: #f6f6f6;
}

body * {
  font-family: 'Open Sans', 'Lucida Grande', tahoma, verdana, arial, sans-serif;
}

#todo-list {
  display: flex;
  background-color: white;
  position: relative;
  flex-direction: column;
  min-width: 20%;
  max-width: 40%;
  width: fit-content;
  word-break: break-word;
  justify-content: center;
  align-content: center;
  box-shadow: 3px 3px 20px 0;
}

#todo-header {
  height: 40px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border-bottom-color: #f6f6f6;
  border-bottom-style: solid;
  border-width: 1px;
}

#addTask {
  height: 40px;
  border: none;
  border-bottom-color: #f6f6f6;
  border-bottom-style: solid;
  border-width: 1px;
  width: 100%;
}

#addTask:focus-visible {
  outline: none;
}

#addTaskAction {
  cursor: pointer;
}

#todo-container {
  padding: 0;
  margin: 0;
}

.todo-element {
  display: flex;
  flex-direction: row;
  list-style: none;
  align-items: center;
  height: 40px;
  border-bottom-color: #f6f6f6;
  border-bottom-style: solid;
  border-width: 1px;
  width: 100%;
}

.todo-element span {
  position: absolute;
  right: 0%;
}

.todo-element p {
  max-width: 90%;
}

#wipe-tasks {
  height: 40px;
  border: none;
  background-color: #f6f6f6;
  cursor: pointer;
}

.description-input {
  width: 85%;
  border: none;
}

.description-input:focus-visible {
  outline: none;
}

.input-task {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-content: center;
  max-width: 380.797px;
}

.input-task button {
  border: none;
  background-color: white;
}

.delete-button {
  cursor: pointer;
  border: none;
  outline: none;
  background-color: yellow;
}
